@model InstitueProject.Models.Trainee
@{
    ViewData["Title"] = "Details";
}

@section Style {
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 50px auto 100px;
        }

        .details {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 15px;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Two columns */
            grid-gap: 20px; /* Gap between elements */
        }

        .btn-container {
            text-align: center;
            margin-top: 20px; /* Add margin to separate from the list */
        }

        .btn {
            padding: 10px 40px; /* Increase padding to make the button wider */
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            display: inline-block; /* Ensure button width is determined by padding */
            text-align: center; /* Center the text inside the button */
            line-height: 1; /* Ensure proper button height */
            border: none; /* Remove border */
        }

            .btn:hover {
                background-color: #0056b3;
            }
    </style>
}

<main class="container">
    <h1>Details</h1>
    <div class="grid-container">
        <div class="details">
            <ul>
                <li><strong>ID:</strong> @Model.Id</li>
                <li><strong>Name:</strong> @Model.Name</li>
                <li><strong>Address:</strong> @Model.Adress</li>
                <li><strong>Grade:</strong> @Model.Grade</li>
                <li><strong>Department :</strong> @Model.Department.Name</li>
            </ul>
            <div class="btn-container">
                <a href="/Trainee/All#main" class="btn btn-success">Back To Trainees</a>
            </div>
        </div>
        <div class="image">
            <img src="/images/@Model.ImageUrl" alt="Trainee Image" />
        </div>
    </div>
</main>
